<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.weather.sysmanagement.prompt.mapper.TImportantWeatherPromptMapper">
    
    <resultMap type="com.ruoyi.weather.sysmanagement.prompt.domain.TImportantWeatherPrompt" id="TImportantWeatherPromptResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="uploadTime"    column="upload_time"    />
        <result property="uploadUser"    column="upload_user"    />
        <result property="state"    column="state"    />
    </resultMap>

    <sql id="selectTImportantWeatherPromptVo">
        select id, title, content, upload_time, upload_user, state from t_important_weather_prompt
    </sql>

    <select id="selectTImportantWeatherPromptList" parameterType="com.ruoyi.weather.sysmanagement.prompt.domain.TImportantWeatherPrompt" resultMap="TImportantWeatherPromptResult">
        <include refid="selectTImportantWeatherPromptVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="uploadUser != null  and uploadUser != ''"> and upload_user = #{uploadUser}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(upload_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(upload_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    
    <select id="selectTImportantWeatherPromptById" parameterType="Long" resultMap="TImportantWeatherPromptResult">
        <include refid="selectTImportantWeatherPromptVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTImportantWeatherPrompt" parameterType="com.ruoyi.weather.sysmanagement.prompt.domain.TImportantWeatherPrompt">
        insert into t_important_weather_prompt
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="uploadTime != null">upload_time,</if>
            <if test="uploadUser != null and uploadUser != ''">upload_user,</if>
            <if test="state != null and state != ''">state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="uploadTime != null">#{uploadTime},</if>
            <if test="uploadUser != null and uploadUser != ''">#{uploadUser},</if>
            <if test="state != null and state != ''">#{state},</if>
         </trim>
    </insert>

    <update id="updateTImportantWeatherPrompt" parameterType="com.ruoyi.weather.sysmanagement.prompt.domain.TImportantWeatherPrompt">
        update t_important_weather_prompt
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
            <if test="uploadUser != null and uploadUser != ''">upload_user = #{uploadUser},</if>
            <if test="state != null and state != ''">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTImportantWeatherPromptById" parameterType="Long">
        delete from t_important_weather_prompt where id = #{id}
    </delete>

    <delete id="deleteTImportantWeatherPromptByIds" parameterType="String">
        delete from t_important_weather_prompt where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>